.title{
color: rgb(255, 255, 255);
display: flex;
gap:30px;
padding: 10px;
list-style: none;
align-items: center;
flex-direction: row;
justify-content: space-between;
background-color:rgb(199, 175, 23);
}